.seat {border: solid 1px gray; width: 15px; height: 15px; margin: 5px; float: left;}

ul.seating {list-style: none; clear:both;}
ul.seating li {border: solid 1px red; width: 15px; height: 15px; margin: 5px; float: left;}


ul.seating li.rownum {border: none; background-color: white;}
ul.seating li.available {background-color: red;}
ul.seating li.reserved {background-color: gray; border-color: gray;}
ul.seating li.aisle {background-color: white; border-color: white;}
ul.seating li.chosen {background-color: yellow;}

#showSelectedSeats .chosenSeats {margin-right: 5px;} /* Used to space out the labels */

#cinemascreen {margin-bottom: 5px; border: solid 1px black; background-color:gold; height: 50px; width: 50%; padding: 10px; text-align: center; font-size: 15px; font-weight: bold; letter-spacing:5px}